* {
    box-sizing: border-box;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    display: grid;
    place-items: center;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boardGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1;
    width: min(60vh, 60vw);
    gap: 0.25rem;
}

.cell {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: gainsboro;
    /* outline: 2px solid black; */
}

.placedPiece {
    user-select: none;
    margin: 0.5rem;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
}

.turnIndicator {
    align-self: center;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}
.demoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 2rem;
    aspect-ratio: 1;
    gap: 0.1rem;
    outline: 1px solid gainsboro;
    outline-offset: 2px;
}

.demoCell {
    width: 100%;
    aspect-ratio: 1;
    background: gainsboro;
}

.turnIndicatorWords {
    width: 10rem;
    text-align: right;
}

.demoCell.red {
    background-color: tomato;
}

.demoCell.blue {
    background-color: dodgerblue;
}
