* {
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    display: grid;
    place-items: center;
    font-size: clamp(4px, 1vw, 18px);
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1;
    gap: 0.25rem;
}

.cell {
    display: grid;
    place-items: center;
    width: 3rem;
    aspect-ratio: 1;
    user-select: none;
    background-color: gainsboro;
    border-radius: 0.1rem;
}

.placedPiece {
    user-select: none;
    margin: 0.4rem;
    border-radius: 0.1rem;
}

.turnIndicator {
    align-self: center;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    font-size: 1.5rem;
}
.demoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 2rem;
    aspect-ratio: 1;
    gap: 0.1rem;
    outline: 0.1rem solid gainsboro;
    outline-offset: 0.15rem;
}

.demoCell {
    width: 100%;
    aspect-ratio: 1;
    background: gainsboro;
}

.turnIndicatorWords {
    width: 10rem;
    text-align: right;
}

.demoCell.red {
    background-color: tomato;
}

.demoCell.blue {
    background-color: dodgerblue;
}
